In [9]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
import pickle
from sklearn.metrics import mean_absolute_error

In [10]:
melb_data_path = "../melb_data.csv"
df_melb_data = pd.read_csv(melb_data_path, sep=",")

# check data df_melb_data.head()
print("jumlah data :", len(df_melb_data))

jumlah data : 13580

In [11]:
melb_features = ['Rooms', 'Bathroom', 'Landsize', 'BuildingArea', 
                'YearBuilt']
X = df_melb_data[melb_features]
y = df_melb_data["Price"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=41)
print("jumlah data training :", len(X_train))
print("jumlah data testing  :", len(X_test))

jumlah data training : 10864
jumlah data testing  : 2716

In [12]:
X_train.head(5)

      Rooms  Bathroom  Landsize  BuildingArea  YearBuilt
8505      4       2.0     450.0         190.0     1910.0
7509      4       2.0     650.0           NaN     1996.0
5963      2       1.0     210.0           NaN        NaN
5215      2       1.0       0.0           NaN        NaN
3631      2       2.0      89.0          87.0     1965.0

In [ ]:
model = DecisionTreeRegressor()
model.fit(X_train, y_train)
print("Model telah dibangun")
import pickle
with open("model_melb.pkl", "wb") as f:
    pickle.dump(model, f)

Model telah dibangun

In [14]:
test_predictions = model.predict(X_test)
print(mean_absolute_error(y_test, test_predictions))

408697.9522301231